.button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  border: rem(1px) solid light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-8)) !important;
  border-radius: var(--mantine-radius-sm) !important;
  padding: var(--mantine-spacing-lg) !important;
  background-color: light-dark(var(--mantine-color-white), var(--mantine-color-dark-8)) !important;

  @mixin hover {
    background-color: light-dark(var(--mantine-color-gray-0), var(--mantine-color-dark-9)) !important;
  }
}